<!DOCTYPE html>
<html>
  <head>
    <title>MessageMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"></link>
  <link rel="stylesheet" href="accorcss.css"></link>
    </head>

  <body>
   <u style="padding-right:30px"><%= link_to 'Chat room',root_path %> </u>
    <u style="padding-right:30px">  Home</u>
      <u style="padding-right:30px">   messages</u>
      <br></br>
<u style="padding-right:30px"><div>
          <a class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Login</a></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
              <li><a class="dropdown-item" href="#">Signup</a></li>
            </ul></div>
</u>

    <%= yield %>

  </body>
</html>
